@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dropdown-enter {
  opacity: 0;
  transform: scale(0.75) rotateX(-15deg);
}
.dropdown-enter-active {
  opacity: 1;
  transform: scale(1) rotateX(0);
  transition: opacity 300ms, transform 300ms;
}
.dropdown-exit {
  opacity: 1;
  transform: scale(1) rotateX(0);
}
.dropdown-exit-active {
  opacity: 0;
  transform: scale(0.75) rotateX(-15deg);
  transition: opacity 300ms, transform 300ms;
}
